.grid-container{
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: 110px 350px 350px 50px;
}

.logo{
	grid-column: 1;
	grid-row: 1;
}
.banner{
	grid-column: 1/2;
	grid-row: 2;
	background-color: black;
}
.fade{
	grid-column: 1;
	grid-row: 3;
}
.nivo{
	grid-column: 2;
	grid-row: 3;
}
.bonus{
	grid-column: 3;
	grid-row: 3;
}
